<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <style>
        .header {
            background-color: grey;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

        .body {
            background-color: grey;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }


    </style>
</head>
<body>
    <div class="header">
        <h1 style="">Restaurant Recommendation Page</h1>
    </div>


    <div class="body">
        <form>
            <label id="r_name" for="restaurant_name"><b>Restaurant Name:</b></label>
            <input type="text" id="restaurant_name" placeholder="Enter Restaurant Name...">
            <input type="submit" id="submit" value="Submit">
        </form>
    </div>

</body>
</html>